<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <appSettings>
    <add key="IOTHUB_DeviecName" value="SimulateBeacon1"/>
    <add key="IOTHUB_ConnectionString" value="HostName=gsstddhub.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=yC8j3VMvYHQIIx/mpN1YynNy86MPqb9Z7BXv+Qh7Jwc="/>
    <add key="BeaconWebApiAuthHeadKey" value="Auth"/>
    <add key="BeaconWebApiAuthHeadValue" value="GSS@Beacon-Scanner"/>
    <!--<add key="PostUserRecieveInfoUrl" value="https://tdd-2012-2.gss.com.tw/beaconwebapi/api/UserRecieveInfo/PostUserRecieveInfo"/>-->
    <add key="SendMessage2IOTHubUrl" value="https://tdd-2012-2.gss.com.tw/beaconwebapi/api/IOTHub/SendMessage2IOTHub"/>

    <!--For Test -->
    <!--<add key="SendMessage2IOTHubUrl" value="http://localhost:58079//api/IOTHub/SendMessage2IOTHub"/>-->
    <!--<add key="PostUserRecieveInfoUrl" value="http://localhost:58079//api/UserRecieveInfo/PostUserRecieveInfo"/>-->
    
    <add key="PostInfoMessage2LogUrl" value="https://tdd-2012-2.gss.com.tw/beaconwebapi/api/Logger/PostInfoMessage2Log"/>
    <add key="PostErrorMessage2LogUrl" value="https://tdd-2012-2.gss.com.tw/beaconwebapi/api/Logger/PostErrorMessage2Log"/>
  </appSettings>
</configuration>
